.sobre-mim {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 100px;
  position: relative;
}

.sobre-mim::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: linear-gradient(137.94deg, #00198d 15.4%, #4f6dff 88.72%);
  position: absolute;
  bottom: -75px;
  left: 20px;
}

.sobre-mim .subtitulo {
  color: #e0e0e0;
  max-width: 6ch;
}

.sobre-mim .sobre-mim-pretexto {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sobre-mim-texto {
  font-size: 1.25rem;
  line-height: 1.33;
  max-width: 50ch;
  color: #525252;
}

.fit-bank{
  font-weight: bold;
  background: -webkit-linear-gradient(#32384e, #5f81a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.atos6{
  font-weight: bold;
  background: -webkit-linear-gradient(#6709A8, #A433F3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre-mim-texto strong {
  color: rgb(0, 0, 0);
}

.sobre-mim-div {
  display: grid;
  gap: 10px 20px;
  padding: 20px;
  background: rgba(245, 245, 245, 0.5);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.sobre-mim-div::before {
  content: "";
  display: block;
  width: 254px;
  height: 254px;
  border-radius: 200px;
  background: linear-gradient(137.94deg, #00198d 15.4%, #4f6dff 88.72%);
  position: absolute;
  left: -120px;
  top: -120px;
  z-index: -1;
}

.sobre-mim-div2 {
  display: grid;
  gap: 10px 20px;
  padding: 20px;
  background: rgba(245, 245, 245, 0.5);
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 1100px) {
  .sobre-mim {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .sobre-mim .subtitulo {
    color: #000;
    margin-bottom: 20px;
  }

  .sobre-mim-texto {
    font-size: 1.25rem;
  }
}
