.sobre-mim {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.sobre-mim .subtitulo {
  color: #e0e0e0;
}

.sobre-mim-div {
  margin-bottom: 30px;
}

.sobre-mim-div2 {
  margin-bottom: 30px;
}

.sobre-mim-pretexto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #000;
  max-width: 40ch;
  margin-bottom: 30px;
}

.sobre-mim-texto {
  font-size: 0.875rem;
  line-height: 1.8;
  color: #525252;
  max-width: 70ch;
}

.fit-bank, .atos6, .gocase {
  color: #00198d;
  text-decoration: none;
  font-weight: bold;
}

.fit-bank:hover, .atos6:hover, .gocase:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .sobre-mim {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .sobre-mim .subtitulo {
    color: #000;
  }
}
